@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
body{
	background-image: url("mental-toughness-970x647.jpg");
}
.background-image{
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
 