@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {.titillium-web-extralight {
	font-family: "Titillium Web", sans-serif;
	font-weight: 200;
	font-style: normal;
  }
}
* {
	text-align: center;
}	
h1 {
	text-align: center;
}
